body{
    margin:0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center ;
    background-color: rgb(114, 207, 250);
    font-family:'Times New Roman', Times, serif;
}

.container{
    background-color: rgba(255,255,255, .3);
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    width: 90%;
    text-align: left;
    margin: 15px;
    max-width: 450px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.heading{
    font-size: 32px;
}

.input{
    height: 55px;
    width: 300px;
    background-color: rgba(255,255,255, .6);
    border-color: rgba(255,255,255, .4);
    font-size: 18px;
    padding: 0 30px;
    border-radius: 5px;
}

.meaning-container{
    display: none;
}

.title{
    font-weight: bold;
    text-align: left;
}

.enter-button{
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    margin-top: 15px;
    width: 30%;
    padding: 5px;
    position: relative ;
    border-radius: 7px;
}